@charset "utf-8";
/*
 * Style par Jason Gantner
 */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  color: white;
  background-color: #9F9DAA;
}

section,footer{
  margin-left:12em;
  width:100%-12em;
}

a,a:visited{
  color: blue;
  text-decoration: none;
}
a:active{color:red;}
a:hover{color:white;}

header{
  text-align: center;
  background: #333333;
  padding:0.5em 0;
}

header h1{
	text-decoration: none;
    text-shadow: 1px 1px 3px #000000;
    font-size:3em;
    font-weight: lighter;
}

header img{
  width:70%;
}

nav{
  padding-top:1em;
  display: block;
  text-align:left;
  padding:0;
  font-family: Helvetica, Arial;
  border-right:1px solid black;
  width:100%;
  overflow:scroll;
}

#left{
  background: #222222;
  bottom:0;
  position:fixed;
  height:100%;
  width:12em;
}

nav a,nav a:visited{
	display: block;
	color: white;
	text-align:center;
	text-decoration: none;
	padding:0.4em 1em;
	transition-duration:1s;
	transition-property:all;
	width:100%;
}

nav a .current{
  color:grey;
}

nav a:HOVER {
  background: #0099ff;
  transition-duration:1s;
  transition-property:all;
  padding:1em ;
}

section{
  margin-bottom:5.2em;
}

article{
  margin:2em;
  padding:2em;
  border:1px solid black;
  border-radius:10px;
  background-color:#332211;
}


h3{
  text-decoration:underline;
  margin:0.2em;
}

span.error{
  color:red;
  font-weight: bold;
}


input:not(:focus):invalid{
  border:1px solid red;
  color:red;
}


form#search{
  display:table;
}

#footer{
  border-top: 2px solid #888888;
  margin-top: 1em;
  font-size:0.9em;
  position:fixed;
  width:13em;
  bottom:0;
  margin:0.2em;
}

/*
 * Style par Florian Audon
 */

.icon{
	height:16px;
	width:16px;
}

.conf{
	display:none;
}

.conf_default{
	display:none;
}

.conf_actuelle{
	display:none;
}

.conf_default_actuelle{
	display:none;
}